.DS_Store
.bin
.git
.gitignore
.bundleignore
.bundle
.byebug_history
.rspec
tmp
log
test
config/deploy
public/packs
public/packs-test
node_modules
yarn-error.log
coverage/

yarn-error.log
coverage/
.env

.git
.vscode
node_modules
yarn-error.log
.gitignore

#other files
cloudformation
pipe_script
dist
build
scripts
.env.sample
.prettierignore
.prettierrc
appspec.yml
Dockerfile
